.container {
    width: 100%;
    height: 100vh;
    display: grid;
    /* background-color: var(--soft); */
}

.wrapper {
    place-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper video{
    width: 300px;
    background: transparent;
}
.wrapper img{
    width: 20%;
}

.wrapper h1 {
    font-family: 'Black';
    font-size: 10rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.05em;
    /* color: var(--dark); */
    color: transparent;
    background: linear-gradient(to right, var(--cyan), var(--gray-dark), var(--orange), var(--indigo), var(--gray));
    background-clip: text;
}

.btncontain {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btncontain button {
    background: transparent;
    padding: 20px 50px;
    border: none;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    box-shadow: var(--shadow-2);
    font-family: 'Bold';
    font-size: 20px;
    letter-spacing: 0.08em;
    color: var(--gray);

    &:hover {
        box-shadow: var(--shadow-2-inset);
    }
}