.theme-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 5.25em;
    height: 3.125em;
    background: linear-gradient(to right, #e6e7ee 50%, #2e2e2e 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: 2rem;
    box-shadow: var(--shadow-2-inset);
  }
  
  .theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: linear-gradient(to right, #e6e7ee 50%, #31344b 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
  }
  
  .theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
  }
  
  .theme-checkbox:checked {
    background-position: 100%;
  }
