.login_container {
    width: 100%;
    height: 100vh;
    display: grid;
    background-color: var(--soft);

    .login_wrapper {
        width: 50%;
        gap: 20px;
        place-self: center;
        display: flex;
        padding: 20px 60px;
        border-radius: 10px;
        box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
    }

    .login_wrapper .left {
        flex: 1;
    }

    .left img {
        width: 100%;
        filter: drop-shadow(3px 3px 6px #b8b9be);
    }

    .login_wrapper .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .right h1 {
        font-family: 'ExtraBold';
        font-size: 28px;
        text-align: center;
        letter-spacing: 0.05em;
        color: var(--dark);
        margin: 0;
    }


    .right form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .right div {
        display: flex;
        align-items: center;
        position: relative;
    }

    .right form div input {
        position: relative;
        border: none;
        border-radius: 5px;
        padding: 20px 50px;
        width: 100%;
        margin-bottom: 10px;
        background: transparent;
        outline: none;
        box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
        transition: box-shadow 0.3s ease;
        font-family: 'SemiBold';
        font-size: 18px;
        color: var(--gray);
        letter-spacing: 0.05em;

        &:focus {
            outline: none !important;
        }

        &::placeholder {
            font-family: 'Regular';
            font-size: 18px;
            opacity: 70%;
            color: var(--gray);
            letter-spacing: 0.05em;
        }
    }
    .right form div input.error{
        color: var(--danger);
    }

    .right .icon {
        position: absolute;
        top: 45%;
        left: 15px;
        transform: translateY(-50%);
        font-size: 18px;
        color: var(--gray);
        cursor: pointer;
    }

    .right .icon.iconerr{
        color: var(--danger);
    }

    .login_wrapper form .button {
        background: transparent;
        padding: 10px;
        border: none;
        border-radius: 8px;
        width: 100%;
        cursor: pointer;
        box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
        font-family: 'SemiBold';
        font-size: 20px;
        letter-spacing: 0.08em;
        color: var(--gray);

        &:hover {
            box-shadow: inset 3px 3px 6px #b8b9be, inset -3px -3px 6px #fff;

        }
    }


    .msg {
        font-family: 'Regular';
        font-size: 12px;
        letter-spacing: 0.05em;
        color: var(--gray);
    }

    .msg .link {
        text-decoration: none;
        font-family: 'Black';
        font-size: 13px;
        letter-spacing: 0.05em;
        color: var(--gray);

        &:hover {
            text-decoration: underline;
        }
    }

}